name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote ssh commands using passwordless ssh key
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Lifeguard
            git pull origin main
            # Ensure the env uses the updated requirements, if any
            ./venv/bin/pip install -r requirements.txt
            # Restart the service
            sudo systemctl restart lifeguard
            echo "Deployment successful!"
